.cart-overview table {
  width: 100%;
}

.cart-overview th,
.cart-overview td {
  padding: 12px 3%;
}

/* image */
.cart-overview .product-title img {
  width: 160px;
  height: 160px;
}

.cart-overview .product-title {
  display: flex;
  align-items: center;
  gap: 15px;
}

.cart-overview td {
  color: #a8a7a7;
  border-top: 2px solid #a8a7a7;
}

.cart-overview th {
  color: #7575f1;
  text-align: left;
}

.cart-overview {
  margin: 120px 10%;
}

.cart-overview h4 {
  font-size: 0.9rem;
}

.cart-overview #qty-el {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 65px;
}

#qty-el input {
  width: 50px;
  padding: 16px 5px;
  outline: none;
  border: 1.5px solid #a8a7a7;
  text-align: center;
}

#qty-el div {
  display: flex;
  flex-direction: column;
}

#qty-el button {
  padding: 2px 8px;
  font-size: 1rem;
}

@media (max-width: 480px) {
  .cart-overview .product-title {
    flex-direction: column;
  }

  .cart-overview .product-title img {
    width: 100px;
    height: 100px;
  }
}
